.category-page{
    display: flex;

}


.title-container{
    display: flex;
    align-items: center;
    &--title{
        margin: 50px 50px 5px 0px;
        color: #E34234;
        font-weight: bolder;
    }
    &--icon{
        color: #E34234;
        margin-top: 50px;
    }
}

.title_listPage{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    &--title{
        margin: 50px 50px 5px 0px;
        color: #E34234;
        font-weight: bolder;
    }
    &--selector{
        margin: 50px 50px 0 50px;
        width: 15%;
    }
}
.card-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    // &--product-info{
    //     // display: flex;
    // }
    &--description{
        margin: 25px;
        border: #68181165 2px solid;
        padding: 10px;
        box-shadow: 0px 1px 6px 0px #681811b4;
    }
}